[Desktop Entry]
Name=Suspender
Comment=Suspender la máquina con barra visual de 15 segundos
Exec=gnome-terminal --geometry=45x8 --hide-menubar -- bash -c "/home/daniel-calderon/script/btn-sus.sh"
Icon=system-suspend
Terminal=false
Type=Application
Categories=Utility;
